$spacing-unit:  .25rem;

$foreground-color:          #292b2c;
$foreground-color-inverse:  #ffffff;
$primary-color:             #25064C;
$secondary-color:           #553285;
$tertiary-color:            #9768D1;
$esscence-color:            lighten($tertiary-color, 35%);

$half-dark-color:           #36175E;
$half-light-color:          #7B52AB;
